*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.2em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #dddddd
}

#area-principal span{
    text-align: justify;
    font-size: 1em;
    color: #333;
}

h2{
    font-size: 1.5em;
    color: #eab029;
}
h3{
    color:#333;
    background: #cdcdcd;
    margin-bottom: 10px;
    padding: 5px;
}

#header a:link,#header a:visited{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

#header a:hover{
    background: #ffffff;
    color: #eab029;
}

a:hover{
    text-decoration: underline;
    color: #eab029;
}

.clear{
    clear: both;
}
/* FORMATAÇÃO CABEÇALHO */
#header{
    background: #eab029;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
}

#logo{
    font-size: 1.5em;
    color: rgb(81, 81, 81);
    padding: 30px;
}

#menu{
    padding: 0px 0px 30px 0px;
}

.branco{
    color: #fff;
}

.bold{
    font-weight: bold;
}

/* FORMATAÇÃO FEED */

#area-principal{
    width: 1140px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 0px;
}

#area-feed{
    width: 670px;
    float: left;
    border-radius: 15px;
}

.postagem{
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
}

span, p{
    padding-bottom: 7px;
}
img{
    margin: 15px 0px 15px 0px;
}

a{
    text-decoration: none;
    color: #eab029;

}

/* FORMATAÇÃO ÁREA LATERAL */

#area-lateral{
    float: right;
    width: 400px;
}

.conteudo-lateral{
    border-radius: 10px;
    padding: 15px 15px 5px 15px;
    background: #fff;
    margin-bottom: 15px;
}

.texto-lateral{
    font-size: 0.9em;
    margin-top: 8px;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-bottom: 8px;
}



/* FORMATAÇÃO RODAPÉ */

#rodape{
    position: static;
    bottom: 0;
    width: 100%;
    background: #eab029;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
    margin-top: 10px;
}